#principal{
    padding-bottom: 100px;
}
#principal .container-fluid{
    padding: 20px 200px !important;
}

#principal .container-fluid .card{
    margin-top: 15px;
}

#principal .container-fluid .card a{
    background-color: #0F0200 !important;
    border: 0;
}

@media (max-width: 1560px) {
    #principal .container-fluid {
        padding: 20px 120px !important;
    }
}
@media (max-width: 1260px) {
    #principal .container-fluid {
        padding: 20px 100px !important;
    }

}
@media (max-width: 900px) {
    #principal .container-fluid {
        padding: 20px 0px !important;
    }

}

@media (max-width: 900px) {
    #carta img {
        padding: 0px !important;
    }
}

#carta img{
    max-height: 800px;
}

#principal .centrado{
    border: 5px solid  white;
    color: white;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#principal .centrado h2{
    color:#0D0200;
}
#info{
    padding: 20px 255px;
}

@media(max-width: 1600px){
    #info{
        padding: 20px 200px;
    }
}

@media(max-width: 1300px){
    #info{
        padding: 20px 100px;
    }
}

@media(max-width: 820px){
    #info{
        padding: 20px 50px;
    }
}