#navegacion nav{
    background-color: #0D0200;
}
#navegacion nav a {
    color:white;
}

#login{
    padding: 20px 550px;
}

@media(max-width:1700px){
    #login{
        padding: 20px 400px;
    }
}

@media(max-width:1400px){
    #login{
        padding: 20px 300px;
    }
}
@media(max-width:1150px){
    #login{
        padding: 20px 200px;
    }
}
@media(max-width:800px){
    #login{
        padding: 20px 150px;
    }
}
@media(max-width:700px){
    #login{
        padding: 20px 100px;
    }
}

@media(max-width:500px){
    #login{
        padding: 20px 50px;
    }
}

button{
    background-color: #0D0200 !important;
    border:0 !important;
}
#login a {
    color: #0F0200;
}